node_modules
dist
.env
.DS_Store
build
.vscode
npm-debug.log
yarn-error.log
.idea
*.local
coverage
*.tsbuildinfo
*.log
.env.local
.env.development.local
.env.test.local
.env.production.local
public/ai_images
!.gitkeep
*.pem
*.crt
*.key
*.p12
*.jks